@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  color-scheme: dark;
  /* Crear variable para el color de los botones */
  
  --icon-whatsapp: #25D366;
  --icon-facebook: #1877F2;
  --icon-instagram: #E1306C;

  /* Variantes de los logos en blanco y negro */
  --icon-whatsapp-white: #FFF;
  --icon-facebook: #FFF;
  --icon-instagram: #FFF;

  --border-color-details: #F2BA52;
  --shadow-color-details: #e4a8394b;

  
  --color-button: #F2BA52;
  --color-button-gradient:#e4a8394b;

  --color-title: #F2BA52;
  --color-title-gradient: #e4a8394b;
  --color-title-gradient-low: #e4a83979;
  --color-title-hover:#F2BA52;
  
  --color-button-hover: #F2BA52;
  --color-button-text: #fff;

  --color-icons-services: #F2BA52;
}



*{
  scrollbar-width: none;
}
 
